.jenisKamarCard{
    margin: auto;
    width: 90%;
    border-radius: 20px;
    background-color: #585858;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    color: white;
    font-size: 14px;
}

.buttonJenisKamarCard{
    margin-top: 20px;
    display: inline-block;
    width: 50%;
    height: 36px;
    padding: 10px;
    border-radius: 20px;
    background-color: #0094f3;
    color: white;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonJenisKamarCard:hover{
    background-color: #0265a2;
}