.main{
  padding: 5px 10px;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1b1b1b;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: black;
  border-width: 2px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: Verdana;
  padding: 5px 0;
  font-size: 12px;
}

.icon {
  color: white;
  margin-bottom: 4px;
  font-size: 22px;
}

.active {
  color: #0094f3;
}



@media screen and (min-width:768px) {
  .main{
    padding: 5px 30px;
  }
}
